@model PMS_WebSite.Models.User

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{
    
    <div class="form-horizontal">
       <h1>Login  Succesful</h1>
    </div>
}

<div>
    @Html.ActionLink("Back Out", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
