@model IEnumerable<PMS_WebSite.Models.User>

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<table class="table">
    <tr>
        <th>
           <h4>Prisoners</h4>
        </th>
        <th>
            <h4>Information Access</h4>
        </th>
        <th></th>
    </tr>
</table>
