@model IEnumerable<Prison_Managment_System_Site.Models.User>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Gotham Prision for the Criminaly Insane </p>


